<div class="container">
    <div class="text-center mt-5">
        <h3>Dashboard Page</h3>
    </div>
    <table>
    	<thead>
    		<tr>
	    		<th class="p-2">ID</th>
		    	<th class="p-2">First Name</th>
		    	<th class="p-2">Last Name</th>
		    	<th class="p-2">Age</th>
		    	<th class="p-2">Phone NUmber</th>
		    	<th class="p-2">E-mail</th>
		    	<th class="p-2">Gender</th>
		    	<th class="p-2">Password</th>
		    	<th class="p-2">Confirm Password</th>
		    	<th class="p-2">Actions</th>
    		</tr>
    	</thead> 
    	<tbody>
    		<tr *ngFor="let data of details">
    			<td>{{data.id}}</td>
    			<td>{{data.fname}}</td>
    			<td>{{data.lname}}</td>
    			<td>{{data.age}}</td>
    			<td>{{data.phone}}</td>
    			<td>{{data.email}}</td>
    			<td>{{data.gender}}</td>
    			<td>{{data.pass}}</td>
    			<td>{{data.cpass}}</td>
    		</tr>
    	</tbody>
    </table>
</div>