<nav class="navbar navbar-expand-lg navbar-light bg-dark sticky-top">
    <a class="navbar-brand text-white text-uppercase" href="javascript:void(0);" routerLink="">User details</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
      	<a href="javascript:void(0)" class="nav-link nav-item text-white" routerLink="dashboard">Dashboard</a>
      	<a href="javascript:void(0)" class="nav-link nav-item text-white" routerLink="login">Login</a>

        <!-- <ng-container *ngIf="this.Auth.isAuth();then auth;else nonauth;"></ng-container>

        <ng-template #nonauth>
          <a class="nav-item nav-link text-white text-uppercase" routerLink="/register" href="javascript:void(0);">Register</a>
        <a class="nav-item nav-link text-white text-uppercase" routerLink="/login" href="javascript:void(0);">Login</a>
        </ng-template>
        <ng-template #auth>
          <a class="nav-item nav-link text-white text-uppercase" routerLink="/dashboard" href="javascript:void(0);">profile</a>
        <a class="nav-item nav-link text-white text-uppercase"  href="javascript:void(0);">Logout</a>
        </ng-template>
 -->
      </div>
    </div>
  </nav>